$defaultGutterSpacing: 4px;

@mixin font-family {
  font-family: sans-serif;
}

@mixin padding($delta: 1) {
  padding: $defaultGutterSpacing * $delta;
}

@mixin margin($delta: 1) {
  margin: $defaultGutterSpacing * $delta;
}

@mixin calcBoxHeight($height: 10, $borderWidth: 1) {
  height: ($defaultGutterSpacing * 2) + ($borderWidth * 2) + $height;
}

@mixin calcBoxMinHeight($height: 10, $borderWidth: 1) {
  min-height: ($defaultGutterSpacing * 2) + ($borderWidth * 2) + $height;
}

@mixin button($bgColor: blue) {
  background-color: $bgColor;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: $defaultGutterSpacing $defaultGutterSpacing * 2;

  &:hover {
    background-color: darken($bgColor, 15%);
  }
}
