@import "../styles/common";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  color: white;
  border-bottom: solid 1px black;
  @include padding(2);

  &__title {
    display: none;
    @media only screen and (min-width: 600px) {
      display: block;
    }
  }

  &__sort-label {
    display: none;
    @media only screen and (min-width: 600px) {
      display: inline;
      margin-right: $defaultGutterSpacing;
    }
  }

  &__sort-dropdown {
    @include padding;
  }

  &__add-button {
    @include button;
  }
}
