<div class="idea-container">
  <div class="idea-container__title-row">
    <input
      class="idea-container__title-input"
      placeholder="Title"
      #titleInput
      type="text"
      [(ngModel)]="title"
    />
    <button class="idea-container__close-btn" (click)="deleteIdea()">X</button>
  </div>
  <div class="idea-container__description">
    <textarea
      placeholder="Description"
      class="idea-container__description-input"
      [maxlength]="maxDescriptionChars"
      [(ngModel)]="description"
      (ngModelChange)="onDescriptionChange($event)"
    ></textarea>
    <div class="idea-container__remaining-chars">{{ remainingDescChars }}</div>
  </div>
  <div class="idea-container__footer">
    <div class="idea-container__date-stamp">Updated: {{ lastUpdated }}</div>
    <button class="idea-container__save-btn" (click)="saveIdea()">Save</button>
  </div>
</div>
